.button {
  // Bulma modifier overrides
  &.is-primary {
    border: 2px solid $primary;
    
    &:hover, &:focus {
      border-color: $white;
    }
    
    &:active {
      border-color: $primary;
    }
  }
}
