@font-face {
  font-family: 'Rajdhani-Regular';
  src: url('../assets/fonts/Rajdhani-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: left;

  .navbar-brand {
    width: 100%;

    .logo {
      width: 60px !important;
      padding: 10px;
      margin-left: 48%;
    }
  }

  .navbar-burger {
    color: #ffffff;
  }
}

.navbar-burger {
  display: block;
}

.main-content {
  min-height: inherit;
}

.main-menu {
  background-color: #000000;
  position: absolute;
  top: 52px;
  width: 100%;
  text-align: center;
  font-family: 'Rajdhani-Regular';
  font-size: 20px;
  height: 95vh;
  padding-top: 50px;
  display: none;
  z-index: 9999;

  a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

.main-menu.is-active {
  display: block;
}

.section {
  h1 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .stamp {
    width: 100px;
  }
}

.yellowSection {
  background-color: #fff000;

  p {
    span {
      padding: 7px 0;
      color: #000;
      display: inline-block;
      font-family: 'Rajdhani-Regular';
      font-size: 16px;
    }

    strong {
      border-left: solid 1px #000;
      padding-left: 10px;
      margin-left: 10px;
      font-family: 'Rajdhani-Regular';
      font-size: 16px;
    }

    button {
      background-color: #267efc;
      border: solid 1px #267efc;
      color: #fff;
      padding: 11px 20px;
      width: 100%;
      outline: none;
      font-family: 'Rajdhani-Regular';
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  .modal-content {
    background-color: #fff;
    width: 90%;
    color: #000;
    padding-top: 20px;
    font-family: 'Rajdhani-Regular';
    font-size: 20px;

    .subTitle,
    .title {
      font-size: 20px;
      text-transform: uppercase;
      margin: 0;
      padding: 0 20px;
    }

    .subTitle {
      font-weight: bold;
      border-bottom: dotted 1px #666;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }

    .popupLeft,
    .popupRight {
      position: relative;
      margin-top: -60px;
      float: left;
    }

    .popupRight {
      float: right;
    }

    input {
      border: none;
      border-bottom: solid 1px #ccc;
      color: #ccc;
      width: 80%;
      margin: 0 10%;
    }

    button {
      background-color: #267efc;
      border: none;
      color: #fff;
      padding: 15px 20px;
      margin-top: 30px;
      outline: none;
      width: 100%;
      font-size: 20px;
      font-family: 'Rajdhani-Regular';
      text-transform: uppercase;
      font-weight: bold;
      background-image: url('../assets/images/button-rip.png');
      background-repeat: repeat-x;
      background-size: 2%;
    }
  }
}

footer {
  font-size: 14px;
  background-image: url('../assets/images/Map@2x.png');
  background-repeat: no-repeat;
  background-position: top right;
  padding: 100px 40px;
  background-size: 50%;

  .logoWrapper {
    vertical-align: top;
  }

  .strapline {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }

  .footerNav {
    p {
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
      margin: 55px 0 30px 0;
      font-family: 'Rajdhani-Regular';

      strong {
        color: #fff;
      }
    }

    ul {
      li {
        a {
          color: #8d8a8a;
          font-weight: bold;
          font-family: 'Rajdhani-Regular';
        }
      }
    }
  }
}

.contact {
  height: 100vh;
  background-image: url('../assets/images/map-uk-contact-us@2x.png');
  background-repeat: no-repeat;
  background-position: right 100px;
  background-size: 100%;
}

.contactLogo {
  width: 100%;
  text-align: center;

  img {
    width: 250px;
  }
}

.section {
  h1 {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }

  .muted strong,
  .muted {
    color: #fff;
    font-family: 'Rajdhani-Regular';
  }
}

.social {
  border-top: solid 1px #242424;
  padding: 40px 10px;
}


.videoPlaceholder {
  height: 60vh;
  text-align: center;
}

.main {
  width: 100%;
}

.coming-soon {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20px;

  h1 {
    width: 70%;
  }
}

p,
h2,
h1 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-family: 'Rajdhani-Regular';
}

h1 {
  margin-bottom: 30px;
}

h2 {
  font-weight: bold;
}

p.blue {
  color: #0eb4a7;
}

hr {
  background-color: #0eb4a7;
  height: 1px;
  width: 200px;
}

form {
  width: 100%;

  column {
    padding: 0;
  }

  input[type='email'] {
    width: 100%;
    padding: 10px;
    border: solid 1px #ffffff;
    background-color: #ffffff;
    color: #333333;
    font-size: 18px;
    display: inline-block;
    margin-bottom: 0;
  }

  button[type='submit'] {
    font-size: 18px;
    background-color: #267efc;
    border: solid 1px #267efc;
    padding: 10px 20px;
    color: #ffffff;
    display: inline-block;
    margin-bottom: 0;
    width: 100%;

    img {
      max-height: 17px;
    }
  }
}

.download {
  img {
    width: 49%;
    display: inline-block;
  }
}

.pink {
  color: #f80290;
}

.ticketWrapper {
  margin: 20px 0 40px 0;

  .ticket {
    background-color: #242323;
    margin: 20px 0px 40px 0px;
    padding: 10px 0 0 0;
    border-radius: 5px;

    p {
      margin: 0;
      padding: 10px 0;
    }

    img {
      width: 60px;
      margin-top: -60px;
    }

    img.ticketLeft,
    img.ticketRight {
      position: relative;
      float: left;
      width: 20px !important;
      margin-top: -90px;
    }

    img.ticketRight {
      float: right;
    }

    .text {
      height: 120px;
      color: #fff;

      strong {
        color: #fff;
      }
    }

    .seperator {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .bottom {
      margin: 0;
      text-transform: uppercase;
      background-color: #535353;
      padding: 10px 0;
      background-image: url('../assets/images/Group 1444@2x.png');
      background-repeat: no-repeat;
      background-position: top;
      background-size: 100%;
    }
  }
}

@media only screen and (min-width: 560px) {
  form {
    width: 75%;
  }

  .ticketWrapper {
    .ticket {
      margin: 20px 20px;
    }
  }

  .contact {
    background-size: 70%;
  }

  .navbar-brand {
    .logo {
      margin-left: 47%;
    }
  }

  .yellowSection {
    p {
      button {
        width: auto;
        margin-left: 20px;
      }
    }
  }

  .modal-content {
    width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  form {
    width: 50%;
  }

  input[type='email'] {
    margin-bottom: 20px;
  }

  button[type='submit'] {
    margin-bottom: 20px;
  }
}

