// Brand Colours
$brand-pink: #E30285;
$brand-turquoise: #008080;

// Background Colours
$background-dark: #020202;
$background-medium: #2C2C3E;

// Leagues
$league-qualifier: #4455DA;
$league-developer: #C75300;
$league-challenger: #008558;
$league-elite: $brand-turquoise;
$league-premier: #8A7500;

// Signage
$signage-positive: #01E437;
$signage-alert: #FFEF02;
$signage-negative: #FF5C5F;
$signage-notification: #EA0000;

// Bulma Default Variable Overrides (must be set before importing Bulma)
$primary: $brand-pink;

@import "~bulma/sass/utilities/_all";

// Bulma Variable Overrides
$link: $white;
$info: $brand-pink;
$link-invert: $grey;
$link-focus-border: $brand-turquoise;

$body-color: $white;

$background: $background-dark;
